aioboto3==13.1.1
aiofiles==23.2.1
websockets==14.0
base58==2.1.1
fastapi==0.106.0
hypha-rpc==0.20.54
jinja2==3.1.4
lxml==4.9.3
msgpack==1.0.8
numpy>=1.21.6
playwright==1.51.0
pydantic[email]==2.8.2
pymultihash==0.8.2
python-dotenv==0.21.1
python-jose==3.3.0
python-multipart==0.0.9
pyyaml==6.0.1
requests==2.31.0
shortuuid==1.0.11
uvicorn==0.23.2
httpx==0.27.0
pyotritonclient==0.2.6
fakeredis==2.24.1
redis==5.2.0
friendlywords==1.1.3
aiocache==0.12.2
jsonschema==3.2.0
sqlalchemy==2.0.35
aiosqlite==0.20.0
prometheus-client==0.21.0
uuid-utils==0.9.0
psycopg2-binary==2.9.10
asyncpg>=0.30.0
sqlmodel==0.0.22
alembic==1.14.0
hrid==0.2.4
ollama==0.3.3
fastembed==0.4.2
stream-zip==0.0.83
greenlet==3.1.1
prompt-toolkit==3.0.50
ptpython==3.0.29
