aioboto3==11.2.0
aiofiles==23.2.1
base58==2.1.1
fastapi==0.106.0
imjoy-rpc==0.5.57
jinja2==3.1.2
lxml==4.9.3
msgpack==1.0.5
numpy>=1.21.6
playwright==1.39.0
pydantic[email]==2.6.1
pymultihash==0.8.2
python-dotenv==0.21.1
python-jose==3.3.0
python-multipart==0.0.6
pyyaml==6.0.1
requests==2.31.0
shortuuid==1.0.11
uvicorn==0.23.2
httpx==0.26.0
pyotritonclient==0.2.6
fakeredis==2.21.3
redis==4.6.0
sse-starlette==1.6.5
