<config lang="json">
{
    "name": "Untitled App",
    "type": "web-worker",
    "tags": [],
    "ui": "",
    "version": "0.1.0",
    "cover": "",
    "description": "[TODO: describe this app with one sentence.]",
    "icon": "extension",
    "api_version": "0.1.8",
    "requirements": [],
    "dependencies": [],
    "startup_config": {
        "timeout": 60,
        "wait_for_service": "default",
        "stop_after_inactive": 600
    }
}
</config>

<script lang="javascript">
async function setup() {
    await api.log("initialized")
}

api.export({
    setup,
})
</script> 