name: Publish Docker
on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
    branches:
      - main
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    # Only run if tests passed
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          fetch-depth: 2
      - name: Log in to the Container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Detect and tag new version
        id: check-version
        uses: salsify/action-detect-and-tag-new-version@v2.0.3
        with:
          create-tag: false # Do not create new tag
          version-command: |
            bash -o pipefail -c "cat hypha/VERSION | jq -r '.version'"

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image (version tag)
        if: steps.check-version.outputs.current-version
        uses: docker/build-push-action@v5.0.0
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ steps.check-version.outputs.current-version }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push Docker image (latest tag)
        if: steps.check-version.outputs.current-version
        uses: docker/build-push-action@v5.0.0
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
          labels: ${{ steps.meta.outputs.labels }}
